<style>
  .somebody {
    color: red;
  }
  .somebody:hover {
    color: #730E15;
  }
  .first_child {

    display: grid;
    padding: 5px;
    margin: 0 -5px;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  }
</style>
<% @films.each do |film| %>
  <div class="container alert alert-dark contr">

    <h3 class="somebody1" align="center"><%= link_to "#{film.name}",  film, class:"somebody"%></h3>

    <div align="center"><%= image_tag film.image.url(:large) %> </div>


    <div class = "conta">
      <% if current_user && current_user.admin == true%>
        <div>
          <%= link_to 'Edit', edit_film_path(film), class:"btn btn-warning"%>
        </div>
      <% end %>
    </div>
  </div>

<% end %>